---
layout: default
title: 杜顺帆的个人博客
---
<p>最新日志</p>
{% for post in site.posts limit: 1  %}
<article>
  <header>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p>{{ post.date | date_to_string }}</p>
  </header>
    <section>{{ post.description }}</section>
</article>

{% for post in site.posts limit: 6 offset: 10 %}
  <article>
    <header>
  	  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  	  <p class="date">{{ post.date | date_to_string }}</p>
  	</header>
  </article>
{% endfor %}