<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <a href="https://github.com/perrydu"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://pic.yupoo.com/perrydu/Ce5W9UMv/duiIc.png" alt="Fork me on GitHub" /></a>
    <p><a href="/" class="blue">首页</a> <a href="/about.html" class="blue">关于我</a> <a href="/tags.html" class="blue">标签</a></p>
    <hr />
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    {{ content }}
  </body>
</html>
