<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <a href="https://github.com/perrydu"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://pic.yupoo.com/perrydu/Ce5W9UMv/duiIc.png" alt="Fork me on GitHub" /></a>
    <p><a href="/" class="blue">首页</a> <a href="/about.html" class="blue">关于我</a> <a href="/tags.html" class="blue">标签</a> <a href="/project.html" class="blue">项目</a> <a href="/place.html" class="blue">足迹</a></p>
    <hr />
    <h1>{{ page.title }}</h1>
    <div style="position:absolute; bottom:0;"><p><img src="http://pic.yupoo.com/perrydu/CeevVWU0/SdbCr.jpg" alt="travel" /></p></div>
    <script>
      (function() {
        var cx = '003531862127052915350:xe5_omfmun8';
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:searchbox-only></gcse:searchbox-only>
  </head>
  <body>
    {{ content }}
  </body>
</html>