<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　<title>{{ page.title }}</title>
　　<a href="https://github.com/perrydu"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <p><a href="/" class="blue">首页</a> <a href="/me.html" class="blue">关于我</a></p>
    <hr />
    {{ content }}
    <br />
    <hr />
    <p>看看最新日志</p>
    <ul>{% for post in site.posts %}<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}</ul>
    <h3><a href="/" class="blue">返回首页</a></h3>
  </body>
</html>
