<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <a href="https://github.com/perrydu"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://pic.yupoo.com/perrydu/Ce5W9UMv/duiIc.png" alt="Fork me on GitHub" /></a>
    <p><a href="/" class="blue">首页</a> <a href="/about.html" class="blue">关于我</a> <a href="/tags.html" class="blue">标签</a></p>
    <hr />
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    {{ content }}
    <a href="http://s.click.taobao.com/t_9?p=mm_32637761_3305353_10768758&l=http%3A%2F%2Fwww.tmall.com%2F&eventid=101766"><img src="http://img01.taobaocdn.com/tps/i1/T1q1PhXeNqXXX1pzZP-760-90.jpg" width="760px" height="90px" border="0" ></a>
    <hr />
    <p>看看最新日志</p>
    <ul>{% for post in site.posts %}<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}" class="green">{{ post.title }}</a></li>{% endfor %}</ul>
    <h3><a href="/" class="blue">返回首页</a></h3>
  </body>
</html>
